@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --primary-color: #53e6d2;
    --secondary-color: #40b3a3;
    --tertiary-color: #42c4b2;
    --background-color: #f2f2f2;
    --foreground-color: #f9f9f9;
    --shadow-color: #dfdcdc;
}

body {
    font-family: 'Rubik', sans-serif;
    /*margin: 0 5%;*/
    background-color: var(--background-color);
    margin: 0 0em;
} 
p1 {
    font-size: 2em;
}
.link {
    text-decoration: none;
    color: black;
}
p2 {
    font-size: 1.5em;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    font-weight: bold;
    box-shadow: 0px 0px 30px 10px var(--shadow-color);
}
.title {
    background-color: var(--primary-color);
    margin:1em;
    padding:1em;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:100px;
}
.header p3 {
    color:white;
    font-size: 1em;
    text-decoration: none;
}
.navcontainer#active {
    background-color: var(--secondary-color);
    width: 100px;
    text-align: center;
}
.navcontainer:hover {
    background-color: var(--tertiary-color);
}
.navbar {
    background-color: var(--primary-color);
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1em;
    border-radius: 100px;
    overflow: hidden;
}
.navcontainer {
    padding:1em;
}
.curtains {
    display:flex;
    justify-content: center;
    text-align: center;
}
#about-us {
    height: 20em;
    width:100%;
    height: 20em;
}
#extra-content {
    height: max-content;
    margin-top:2em;
    width:100%;
    height:35em;
}
#discord-server {
    height: max-content;
    margin-top:2em;
    width:100%;
    height:40em;
}
#projects {
    height:103em;
}
#curtain2 {
    width:40%;
}
.container {
    margin: 1em;
    margin-top: 3em;
    width: 40%;
    border: none;
    border-radius: 15px;
    background-color: var(--foreground-color);
    box-shadow: 0px 0px 30px 10px var(--shadow-color);
    /*box-shadow: 0px 0px vervaging grootte kleur*/
}
.project {
    text-align: left;
    margin:2em;
    display:flex;
    transition:  all 0.3s ease 0s;
}
.project div {
    margin-left: 1em;
}
.curtains .container p1 {
    color: #6cc4b8;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.project img {
    background-color:var(--secondary-color);
    padding:0.3em;
    border-radius: 10px;
    height: 57.4px;
    width: 57.4px;
}
.project:hover {
    background-color: var(background-color);
    transition:  all 0.3s ease 0s;
    border-radius: 10px;
    margin-left:2.5em;
}
.footer {
    display:flex;
    justify-content: center;
}
img#ad {
    width:calc(80% + 2em);
    border-radius:10px;
}

.theme-selection button {
    border:none;
    height:2em;
}


.theme-selection img {
    transition:  all 0.3s ease 0s;
    filter:invert(0.6)
}
.theme-selection img:hover {
    height:2.8em;
    transition:  all 0.3s ease 0s;
    filter:invert(0)
}

/* Languages section */
.language-selection {
    top: 100px;
    display: flex;
}
.flagbutton, .themebutton {
    border: none;
    margin-right: 0px;
    height: 30px;
    width: auto;
}
.flagbutton:hover, .themebutton {
    background-color: none;
    border: none;
    cursor: pointer;
}
.flag {
    transition:  all 0.3s ease 0s;
}
.flag:hover, .themebutton {
    height: 40px;
    transition:  all 0.3s ease 0s;
    margin-left: -0.5em;
    margin-top: -0.5em;
}



/* Contact form */
.contactbutton:hover {
    transition:  all 0.3s ease 0s;
    background-color: var(--primary-color);
    color:black;
}

.contactbutton {
    transition:  all 0.3s ease 0s;
    margin-top: 10px;
    background-color: var(--secondary-color);
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: auto;
    font-family: 'Rubik';
    font-weight: lighter;
}

#form-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

form {
    padding:3em;
    border-radius: 15px;
    display:grid;
    width:100%;
    margin-bottom: 3em;
}

input, textarea {
    background-color: var(--background-color);
    margin:1em;
    padding:10px;
    border-style: none;
    border-radius: 10px;
}

input[name="email"], input[name="name"] {
    width: 50%;
}

input[name="email"], input[name="name"], input[name="subject"] {
    font-size: large;
}

.center-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

textarea {
    height:10em;
    text-align: left;
    resize:vertical;
    min-height: 2em;
    max-height: 30em;
    overflow:auto;
    width:95%;
}

#top-row {
    display:flex;
}

.contactbutton[type=Submit] {
    margin-top: 1em;
    width:5em;
    border-radius: 20px;
}

iframe {
    margin-top: 1em;
}
