@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    background-color: white;
}
 
body {
    font-family: 'Rubik', sans-serif;
    /*margin: 0 5%;*/
    background-color: #F2F2F2;
    margin: 0 0em;
} 

p1 {
    font-size: 2em;
}
.link {
    text-decoration: none;
    color: black;
}
p2 {
    font-size: 1.5em;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-weight: bold;
    box-shadow: 0px 0px 30px 10px #dfdcdc;
}
.title {
    background-color: #53e6d2;
    margin:1em;
    padding:1em;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:100px;
}
.header p3 {
    color:white;
    font-size: 1em;
    text-decoration: none;
}

/*a .navcontainer {
    width:100px;
    padding:3em;
    color:red;
}*/

.navcontainer#active {
    background-color: #40b3a3;
    width: 100px;
    text-align: center;
}

.navcontainer:hover {
    background-color: #42c4b2;
    /*color:red;*/
}
.navbar {
    background-color: #53e6d2;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1em;
    border-radius: 100px;
    overflow: hidden;
}

.navcontainer {
    padding:1em;
}

.curtains {
    display:flex;
    justify-content: center;
    text-align: center;
}
.container {
    margin: 1em;
    margin-top: 3em;
    width: 40%;
    height: 600px;
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 30px 10px #dfdcdc;
    /*box-shadow: 0px 0px vervaging grootte kleur*/
}
.project {
    text-align: left;
    margin:2em;
    /*background-color: red;*/
    display:flex;
    transition:  all 0.3s ease 0s;
}
.project div {
    margin-left: 1em;
}

.curtains .container p1 {
    color: #6cc4b8;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.project img {
    background-color:#40b3a3;
    padding:0.3em;
    border-radius: 10px;
    height: 57.4px;
    width: 57.4px;
}

.project:hover {
    background-color: #f2f2f2;
    transition:  all 0.3s ease 0s;
    border-radius: 10px;
    margin-left:2.5em;
}












.footer {
    display:flex;
    justify-content: center;
}
img#ad {
    width:calc(80% + 2em);
    border-radius:10px;
}