#cookiepref,
#fadescreen {
    display: none;
    position: fixed;
}

#fadescreen {
    z-index: 10000000;
}

.cookiepref {
    width: 800px;
    height: 420px;
    left: calc(50% - 400px);
    top: calc(50% - 210px);
    background-color: var(--foreground-color);
    box-shadow: 0px 0px 30px 1px var(--shadow-color);
    border-radius: 20px;
    z-index: 10000001;
}
.cookiepref p {
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
    color: var(--text-color)
}
.cookietext {
    margin: 10px;
    color: var(--text-color);
    width: 60%;
}
.cookiebutton {
    position: absolute;
    left: 520px;
    top: 150px;
}
.indiviCookiebutton {
    width: 250px;
    height: 50px;
    color: white;
    font-family: Rubik;
    font-size: 17px;
}
.indiviCookiebutton:hover {
    width: 260px;
    cursor: pointer;
}
#acceptbutton {
    margin-bottom: 10px;
    background-color: rgb(33, 147, 33);
    border-radius: 50px;
}
#acceptbutton:hover {
    background-color: rgb(63, 177, 63);
}
#denybutton {
    background-color: rgb(214, 7, 7);
    border-radius: 50px;
}
#denybutton:hover {
    background-color: rgb(63, 177, 63);
}
.fadescreen {
    width: 100%;
    height:100%;
    background-color: black;
    opacity: var(--fadescreen-opacity);
}

/*
   <=== WIP popup ===>
*/

#wippopup{
    top: calc(100vh - 75px);
    left: -410px;
    height: 50px;
    width: 400px;
    transform: skewX(-10deg);
    position: fixed;
    z-index: 100000000000;
    background-image: linear-gradient(to right, rgb(201, 114, 7) , yellow);
    border: 2px solid black;
    color: black;
}
#wippopup>p{
    transform: skewX(10deg);
    margin-left: 20px;
    margin-top: 5px;
}