.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 10px var(--shadow-color);
}

.footer_container {
    text-align: center;
    padding: 1em;
    margin:1em;
    width: 30%;
    margin-top: 0;
}

.footer h2, .footer a, .footer {
    color: var(--text-color);
}
