#form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 1em 3em 3em;
    display: grid;
    width: 100%;
}

#form-container input,
#form-container textarea {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 14px;
    margin: 1em;
}

#form-container input[name="email"],
#form-container input[name="name"] {
    width: 50%;
}

#form-container input {
    border-radius: 100px;
}

#top-row {
    display: flex;
}

#form-container textarea {
    height: 12.5em;
    text-align: left;
    resize: none;
    width: 100%;
}

#form-container .center-container {
    display: flex;
    justify-content: center;
}

.contactbutton:hover {
    background-color: var(--primary-color);
}

.contactbutton {
    background-color: var(--secondary-color);
    border: none;
    padding: 10px;
    font-size: 30px;
    font-family: 'Rubik';
    font-weight: lighter;
    margin: calc(1em - 10px);
    border-radius: 1em;
    width:100%;
    color: var(--header-text-color);
}